.center {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}
.button-left {
    margin-left: auto;
    margin-right: auto;
    width: calc(50% - 1vw);
    height: 20vw;
    font-size: 5vw;
    border: solid 0.5vw black;
    background-color: white;
}
.button-right {
    margin-left: auto;
    margin-right: auto;
    width: calc(50% - 1vw);
    height: 20vw;
    font-size: 5vw;
    border: solid 0.5vw black;
    background-color: white;
}
div#game {
    margin-bottom: 5vw;
}
div#console {
    text-align: center;
}
/* リバーシ盤のスタイル */
table {
    border-collapse: collapse;
    border: solid 0.5vw black;
    margin-top: auto;
    margin-bottom: auto;
}
table td {
    width: 10vw;
    height: 10vw;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    border: solid 0.5vw black;
}
table td.puttable {
    background-color: greenyellow;
}
/* リバーシのコマのスタイル */
div {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 85%;
    border-radius: 50%;
}
/* 一番下に表示される要素 */
div.white {
    background: black;
    color: black;
    border: solid 0.5vw black;
    position: relative;
}
/* 上から2番目に表示される要素 */
div.white::before {
    content: "";
    background: white;
    border: solid 0.5vw black;
    /* top: -2vw; */
    top: -10%;
    left: -5%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
/* 一番上に表示される要素 */
div.white::after {
    content: "";
    background: white;
    border: solid 0.5vw black;
    /* top: -4vw; */
    top: -20%;
    left: -5%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
.white.flip {
    animation: flipToBlack forwards 1s ease 0s;
}
.white.flip::before {
    animation: flipToWhiteSub forwards 1s ease 0s;
}
.white.flip::after {
    animation: flipToWhiteSub forwards 1s ease 0s;
}
@keyframes flipToWhite {
    0% {
        background: black;
    }
    25% {
        transform: translateY(-10vw);
    }
    49% {
        transform: translateY(-10vw) rotateX(90deg);
        background: black;
    }
    51% {
        transform: translateY(-10vw) rotateX(90deg);
        background: white;
    }
    75% {
        transform: translateY(-10vw);
    }
    100% {
        background: white;
    }
}
@keyframes flipToWhiteSub {
    0% {
        background: black;
        border-color: white;
    }
    49% {
        background: black;
        border-color: white;
    }
    51% {
        background: white;
        border-color: black;
    }
    100% {
        background: white;
        border-color: black;
    }
}
@keyframes flipToBlack {
    0% {
        background: white;
    }
    25% {
        transform: translateY(-10vw);
    }
    49% {
        transform: translateY(-10vw) rotateX(90deg);
        background: white;
    }
    51% {
        transform: translateY(-10vw) rotateX(90deg);
        background: black;
    }
    75% {
        transform: translateY(-10vw);
    }
    100% {
        background: black;
    }
}
@keyframes flipToBlackSub {
    0% {
        background: white;
        border-color: black;
    }
    49% {
        background: white;
        border-color: black;
    }
    51% {
        background: black;
        border-color: white;
    }
    100% {
        background: black;
        border-color: white;
    }
}
div.black {
    background: white;
    color: white;
    border: solid 0.5vw black;
    position: relative;
}
div.black::before {
    content: "";
    background: black;
    border: solid 0.5vw white;
    top: -10%;
    left: -5%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
div.black::after {
    content: "";
    background: black;
    border: solid 0.5vw white;
    top: -20%;
    left: -5%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
.black.flip {
    animation: flipToWhite forwards 1s ease 0s;
}
.black.flip::before {
    animation: flipToBlackSub forwards 1s ease 0s;
}
.black.flip::after {
    animation: flipToBlackSub forwards 1s ease 0s;
}